/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.color-red{
	color:#F36668;
}

.color-white{
	color:#000;
}

.marginTop1{
	margin-top: 1px !important;
}

.bordered {
    border: 1px solid #DDDDDD;
}
.bordered-top {
    border-top: 1px solid #DDDDDD;
}
.bordered-right {
    border-right: 1px solid #DDDDDD;
}
.bordered-bottom {
    border-bottom: 1px solid #DDDDDD;
}
.bordered-left {
    border-left: 1px solid #DDDDDD;
}

.modal-body{
	 max-height: 400px;
	 overflow: auto;
}

.btn-per{
	padding: 2px 8px !important;
}

#toast-container > div {
  opacity: 1;
  filter:  alpha(opacity=100);
}

.pandding5{
	padding-left:5px;
	padding-right: 5px;
}

.top-5 {
    padding-top: 5px !important;
}
.margin-left-5 {
    margin-left: 5px !important;
}

.padding10{
	padding:10px !important;
}


.paddingAll1{
	padding:1px !important;
}

.marginAll0{
	margin:1px !important;
}

.bordered {
    border: 1px solid #DDDDDD;
}

.paddingTop{
    padding-top: 2px !important;
    padding-bottom: 2px;
}

.word {
    word-wrap: break-word !important;
}

.text-leftForze {
    text-align: left !important;
}

.text-rightForze {
    text-align: right !important;
}

.header-top .control-label{
	padding-left: 5px !important;
	padding-top: 2px !important;
}

.header-bottom .control-label{
	padding-left: 5px !important;
	padding-top: 2px !important;
}

.page-content-small{
	padding-top:10px !important;
	padding-bottom:10px !important;
}

.colorblanco{
	color:#FFF !important;
}

.form-section-small{
	margin-top: 0px !important;
	margin-bottom: 5px !important;
}

.marginTop15{
	margin-top:15px !important;

}

.marginTopBtnFrom{
	margin-top:27px !important;

}

.padding0{
	padding: 0px !important;
}

.btn-redondeado{
	border-radius: 50% !important;
	-moz-border-radius: 50% !important; /* Firefox */
	-webkit-border-radius: 50% !important; /* Safari y Chrome */
}

.maring0{
	margin:0px !important;
}

.link-blanco{
	color:#FFF !important;
	text-decoration:none;
}
.link-blanco:hover{
	color:#F00 !important;
}

.icon-Top{
 	padding-top: 13px !important;
	padding-bottom: 5px !important;
}

.portlet.box > .portlet-title {
    /*color: #333333 !important;*/
}

.blanck{
	color:#FFFFFF !important;
}


.oculto{
	display: none;
}

.text-title-mod{
	color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

.flot-tooltip {
	text-overflow: ellipsis;
    background-color: #fff;
    border-radius: 0;
    border: 2px solid #999;
    color: #777;
    display: none;
    font-family: 'Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    max-width: 200px;
    padding: 8px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    white-space:nowrap;
}



.dataTables_processing{
	z-index: 999999999999999;
}


.page-loading {
	z-index: 999999999999999999;
}

.header.navbar .navbar-nav > li.dropdown .dropdown-toggle > span.text_hed {
	color:#ddd;
}

.header.navbar .navbar-nav > li.dropdown .li_head_ch {
  /*  padding-top: 12px !important;*/
}


.header > .backNone {
    background-color:transparent !important;
}

.pointer{
	cursor: pointer !important;
}

.margin-top-2 {
    margin-top: 2px !important;
}

.margin-botom-3{
	margin-bottom: 3px !important;
}

.tachar > div > span{
	text-decoration: line-through !important;
}

.tachar > div > div{
	text-decoration: line-through !important;
}

.parrafo_legal{
	text-transform: lowercase;
}

.parrafo_legal:first-letter{
	text-transform: uppercase !important;
}

.popover-content{
	text-transform: lowercase;
}

.popover-content:first-letter{
	text-transform: uppercase !important;
}

.font16{
	font-size:16px !important;
}

.font-8{
	margin-top: -8px !important;
}

.font100{
	font-size:100px !important;
}


.portlet > .portlet-title > .caption {
    font-size: 16px;
}

.tabbable-custom > .nav-tabs > li {
	 border-top: 0px ;
	  margin-right: 0px;
}

.tooltip {
    display: block;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    position: absolute;
    visibility: visible;
    z-index: 99999999999;
}


.paddingAll5{
	padding:5px !important;
}

.no_margin{
margin:0px !important;
}

.topcheckForm{
	margin-top: 1px !important;
	padding-top: 7px !important;
}

.textRed {
    color: red;
    font-size: 14px;
}

.textRed:hover {
    color: red !important;
    text-decoration:none !important;
    font-size: 15px !important;
}

.margin-top-8 {
    margin-top: 8px !important;
}

.content-full {
	 padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.negrita{
	font-weight:600
}

.close {
	opacity: 0.5;
}

.close:hover , .close:focus {
	opacity: 0.8;
}

.btn-per{
	margin-right: 0px !important;
}

.btns-search {
	margin-top: 19px;
}


.mayuscula {
	text-transform: uppercase;
}

.bbtom0 {
	border-bottom: 0px !important;
}

.menu-btn-right > .dropdown-menu{
	margin-top: 0px !important;
}


img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
	max-width: none;
	border: none !important;
}

.tickboxs .modal-dialog{
	margin: 0px auto;
    width: 100%;
}

.tickboxs .modal-header {
	padding: 6px 15px;
}

.tickboxs .modal-header .close{
	margin-top: 7px !important;
}

.tickboxs .modal-footer {
	padding: 5px;
}

#tabs-cierre-1 .row {
	margin-top: 5px;
}


.text-events{
	font-size: 14px;
	font-weight: bold;
}

.marginTop10{
	margin-top: 10px !important;
}

.tabReset {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border: 0px;
	border-left-width: 0px !important;
}

.paddlft{
	padding-left: 15px;
}

.paddleft0{
	padding-left: 0px;
}

.margtop4x {
	margin-top: 4%;
}

.modal-header .title-center span{
	position:absolute;
	display:inline-block;
	top:5;
	left:35%;
}


.bold{
	font-weight: bold;
}

.paddbotom5{
	padding-bottom: 5px;
}

.paddleft25{
	padding-left: 25px;
}

.resetMarginleft{
	margin-left: 0px;
}

#table-datos-clientes h5{
	padding-left: 4px;
}

.clave-ancla{
	padding-left: 5px;
}

#tabs-cierre-1 h5{
	margin-top: 0px; margin-bottom: 0px;
}

#tabs-cierre-1 .signal{
	margin-top: 0px !important;
}

.nav .btn-top {
	padding-right: 10px !important;
}

.page-quick-sidebar-search .page-quick-sidebar-search-client-form{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.page-quick-sidebar-search .media {
	padding-top: 2px !important;
	padding-bottom: 5px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .media-heading a{
    color: #D8D8D8;
}

.tiles .tile.inactive {
    border-color: #DF0101 !important;
}

.tiles .tile.inactive .corner::after {
    border-bottom: 40px solid transparent;
    border-left: 40px solid transparent;
    border-right: 40px solid #DF0101;
    content: "";
    display: inline-block;
    position: absolute;
    right: -3px;
    top: -3px;
}

.tiles .tile.inactive .check::after {
    content: "✕";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 13px;
    position: absolute;
    right: 2px;
    top: 2px;
}

.tooltips,.popovers{
    cursor:help;
}


.margin-right-15{
	margin-right: 15px;
}

.btn-only-iconx {
	padding-bottom: 0px; padding-top: 0px; margin-top: -1px;
}

.tr-disabled {
	background-color: #f5f5f5;
}

.datepicker {z-index: 99999 !important;}

.select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
}

div.inlinex{

  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  width: 90%;
}

.parpadea {

  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}